<div class="my-5">
    <h1 class="text-center mb-5">도서정보</h1>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <img src="<%=book.IMAGE%>" width="70%">
        </div>
        <div class="col pt-2">
            <h5 id="title">
                [<%=book.BID%>] <%=book.TITLE%>
                <i class="bi bi-heart ms-3 like" id="like"></i>
                <span id="count" class="count">0</span>
            </h5>
            <hr>
            <div class="my-3">저 자: <%=book.AUTHORS%></div>
            <div class="my-3">가 격: <%=book.FMTPRICE%>원</div>
            <div class="my-3">등록일: <%=book.FMTDATE%></div>
            <div class="my-3">출판사: <%=book.PUBLISHER%></div>
            <div class="my-3">ISBN: <%=book.ISBN%></div>
            <hr>
            <button class="btn btn-warning px-5">장바구니</button>
            <button class="btn btn-success px-5">바로구매</button>
        </div>
    </div>
    <ul class="nav nav-tabs m-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" 
            id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" 
            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">도서내용</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" 
            id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" 
            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">도서리뷰</button>
        </li>
      </ul>
      <div class="tab-content mx-5" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="px-2"><%=book.CONTENTS%></div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <%-include("review.ejs")%>
        </div>
      </div>
</div>

<script>
    getCheck();

    //빈 하트를 클릭한 경우 (좋아요 추가하기)
    $("#title").on("click", ".bi-heart", function(){
        if(!sessionStorage.getItem("uid")){
            sessionStorage.setItem("target", "/books/info?bid=<%=book.BID%>");
            location.href="/users/login"
        }else{
            $.ajax({
                type:"post",
                url:"/books/like/insert",
                data:{uid:sessionStorage.getItem("uid"), bid:"<%=book.BID%>"},
                success:function(){
                    alert("좋아요 추가!");
                    getCheck();
                }
            });
        }
    });

    //채워진 하트 클릭 (삭제하기)
    $("#title").on("click", ".bi-heart-fill", function(){
        $.ajax({
            type:"get",
            url:"/books/like/delete",
            data:{uid:sessionStorage.getItem("uid"), bid:"<%=book.BID%>"},
            success:function(){
                alert("좋아요 취소!");
                getCheck();
            }
        })
    });

    function getCheck(){
        $.ajax({
            type:"get",
            url:"/books/like/check",
            data:{uid:sessionStorage.getItem("uid"), bid:"<%=book.BID%>"},
            success:function(data){
                $("#count").html(data.total);
                if(data.ucnt == 1) {
                    $("#like").removeClass("bi-heart"); //클래스 지우는
                    $("#like").addClass("bi-heart-fill");
                }else{
                    $("#like").removeClass("bi-heart-fill"); //클래스 지우는
                    $("#like").addClass("bi-heart");
                }
            }
        })
    }
</script>