<script>
    style="border-radius:50%" 
</script>

<div class="my-5 row justify-content-center">
    <h1 class="text-center">마이페이지</h1>
    <div class="col-md-6 card p-5">
        <div class="row">
            <div class="col-md-4 mb-3">
                <img class="photo" src="http://via.placeholder.com/100x100" width="100%" id="photo">
            </div>
            <div class="col">
                <div class="mb-2">
                    아이디: <%=user.uid%>
                    <a href="/users/change" class="btn btn-danger btn-sm ms-4" id="change">비밀번호 변경</a>
                </div>
                <div class="mb-2">이름: <%=user.uname%></div>
                <div class="mb-2">전화번호: <%=user.phone%></div>
                <div class="mb-2">주소: <%=user.address1%> <%=user.address2%></div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3" id="update">
        <a class="btn btn-primary" href="/users/update?uid=<%=user.uid%>">정보수정</a>
    </div>
</div>
<script>
    const photo="<%=user.photo%>";
    if(photo){
        $("#photo").attr("src", "/upload/photo/" + photo);
    }else{ //photo가 없으면 더미 이미지로 보이게
        $("#photo").attr("src", "http://via.placeholder.com/100x100");
    }

    const uid = "<%=user.uid%>";
    if(sessionStorage.getItem("uid") != uid){
        $("#update").hide();
        $("#change").hide();
    }
</script>